<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Shalom Best Foods</title>
    <link rel="stylesheet" href="/static/index.css" />
  </head>
  <body>
    <main>
      <header>
        <div class="nav">
          <h1>this website is under construction</h1>
        </div>
        <div class="header">
          <h1>oh its for you mum btw, i try to finish as soon as</h1>
        </div>
      </header>
      <content>
        <div class="side_bar">
          <h1>sidebar is here</h1>
        </div>
        <div class="content_main">
          <h1>main content is here</h1>
        </div>
      </content>
      <footer>
        <div class="footer">
          <h1>footer</h1>
        </div>
      </footer>
    </main>
  </body>
</html>
