<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>


    <div id="bg"></div>

    <header>
        <a href="#">zoomboom</a>
    </header>
    <main>
        <section id="card">
            <ul>
                <li>
                    <span></span>
                    <strong>yooo, ur gonna be in alot of currency</strong>
                </li>
                <li>
                    <span></span>
                    <strong>ikr, soo we're not gonna fudge this up?</strong>
                </li>
                <li>
                    <span></span>
                    <strong>pleasee<span></span></strong>
                </li>
             </ul>
        </section>
        <section id="primary">
            <h1>Make for ur mom like this</h1>
            <p>And dont forget to always stay in touch with Wiston</p>
            <a href="#">Buy my shit</a>

        </section>
    </main>
</body>
</html>