<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shalom Best foods</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/main.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>


    <div id="bg"></div>

    <header>
        <a href="#">Shalom Best Foods</a>
    </header>
    <main>
        <section id="card">
            <h2>Why Shalom foods</h2>
            <ul>
                <li>
                    <span></span>
                    <strong>Great customer service</strong>
                    <img src="/static/img/tray.png" alt="">
                </li>
                <li>
                    <span></span>
                    <strong>Delicious food</strong>
                    <img src="/static/img/delicious.png" alt="">
                </li>
                <li>
                    <span></span>
                    <strong>Great prices<a><i class="fad fa-concierge-bell"></i></a></strong>
                    <img src="/static/img/positive-vote.png" alt="">
                </li>
             </ul>
        </section>
        <section id="primary">
            <h1>Dine with us</h1>
            <p>We are based in Ruiru</p>
            <p>behind Wakulima hse</p>
            <a href="#">Order here</a>

        </section>
    </main>
</body>
</html>