<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/shalom.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Syncopate:700&display=swap" rel="stylesheet">
    <title>Shalom Best foods</title>
</head>
<body>
       <nav class="navbar navbar-expand-lg navbar-light bg-light m-0"><h3>Shalom Foods</h3>
        <ul class="nav ml-auto nav-pills">
            <li class="nav-item">
              <a class="nav-link active bg-secondary m-1 p-2" href="#">contact</a>
            </li>
            
            <li>
                <a class="nav-link active m-1 bg-secondary p-2" href="#">servises</a>
            </li>
            <li>
                <a class="nav-link active m-1 bg-secondary p-2" href="#">ordering</a>
            </li>
          </ul>
       </nav>
       
       <div class="jumbotron" >
        <h1 class="display-4">Hello, hungry people!</h1>
        <p class="lead">Let us show you how to Dine!!</p>
        
        <p>for both Traditional and contemporary desings.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">For Outside-Catering</a>
       </div>
       <div class="container">
           <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias nemo sapiente a vel illo asperiores! Autem esse, laboriosam officiis consequuntur voluptatibus necessitatibus exercitationem laborum facilis quos placeat vel, mollitia labore!
            <p></p>
            <hr class="my-8">
            <p></p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias nemo sapiente a vel illo asperiores! Autem esse, laboriosam officiis consequuntur voluptatibus necessitatibus exercitationem laborum facilis quos placeat vel, mollitia labore!
           </p>
        
           <h1>
               Our Dishes include
           </h1>
           <div class="row">
               <div class="col-xl-6 col-12 mb-5"><img src="/static/img/beef-pilau.jpg" alt="" class="img-fluid"><h3>pilau</h3></div>
               <div class="col-xl-6 col-12 mb-5"><img src="/static/img/matoke.jpg" alt="" class="img-fluid"><h3>matoke</h3></div>
               <div class="col-xl-6 col-12 mb-5"><img src="/static/img/pumpkin-chapati.jpg" alt="" class="img-fluid"><h3>Swahili dishes</h3></div>
               <div class="col-xl-6 col-12 mb-5"><img src="/static/img/matoke.jpg" alt="" class="img-fluid"><h3>matoke</h3></div>
           </div>

       </div>

</body>
</html>